@model OrchardCore.ContentFields.ViewModels.DisplayTextFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

<span class="field field-type-textfield field-name-@name">
    <code>@Model.Field.Text</code><span class="text-muted">- Link</span>
</span>