a {
  text-decoration: none !important; }

html {
  height: 100%;
  overflow: hidden; }

body {
  padding-top: 50px;
  max-width: 1600px;
  height: 100%;
  max-height: 100%;
  margin: auto; }

@media (min-width: 992px) {
  .customContainer {
    max-width: 80%;
    margin: auto; } }

.customNavBar {
  display: flex; }

.navbar-brand {
  padding: 0.31rem !important; }

.bodyScroll {
  background-color: white;
  left: 0;
  min-width: 220px;
  overflow-y: auto;
  position: absolute;
  right: 1px;
  bottom: 0;
  top: 35px;
  z-index: -1; }

@media (max-width: 220px) {
  .bodyScroll {
    position: static; } }

::-webkit-scrollbar {
  background-color: white;
  box-shadow: inset 1px 1px 5px 2px #ddd;
  width: 12px; }

::-webkit-scrollbar-thumb {
  background-color: #333;
  box-shadow: inset 1px 1px 5px 2px #111;
  border-radius: 10px 10px 10px 10px; }

@media (min-width: 481px) {
  .title-box {
    animation-name: pokeDown; } }

.title-box {
  animation-duration: 6s;
  background-color: black;
  border-radius: 0 0 10px 10px;
  margin-left: -10px;
  padding: 0 25px 0 25px;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 1031; }

.title-box > h1, .title-box > h2, .title-box > h3 {
  color: #fefefe;
  line-height: 100%;
  margin-bottom: 0;
  transition: line-height 0.5s; }

.title-box > p {
  color: #ddd;
  font-size: 80%;
  font-weight: lighter;
  margin: 0 0 4px 0; }

@media (min-width: 768px) and (min-height: 701px) {
  .title-box:not(.title-box-small) > h1, .title-box:not(.title-box-small) > h2, .title-box:not(.title-box-small) > h3 {
    line-height: 150%;
    transition: line-height 0.5s; } }

@media (max-width: 480px), (max-height: 500px) {
  .title-box {
    display: none; } }

@media (max-width: 767px) {
  .customNavBar {
    flex-direction: column; }
  .navbar-header {
    flex-basis: 100%; } }

.title-box:before, .title-box:after {
  box-shadow: -1px 30px 15px 2px #000;
  bottom: 34px;
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  z-index: -10000; }

.title-box:before {
  left: 10px;
  transform: rotate(-8deg); }

.title-box:after {
  right: 10px;
  transform: rotate(6deg); }

.navbar-toggler {
  font-size: medium !important; }

.menuLinks, .customNavBar {
  flex: 1; }

.navbar {
  background-color: black;
  border-radius: 0;
  box-shadow: 0 1px 5px 1px #111;
  min-height: 35px !important;
  min-width: 220px;
  left: 0;
  right: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  position: absolute;
  top: 0; }

.navbar-dark .navbar-nav > li > a.headerLinkTarget {
  color: #888; }
  .navbar-dark .navbar-nav > li > a.headerLinkTarget.active {
    color: #fff; }

.navbar-nav {
  float: right;
  text-align: right; }

.navbar-header ~ * {
  background-color: black; }

.navbar-header {
  opacity: 0.97;
  flex-basis: 100%; }

@media (max-width: 767px) {
  .navbar-nav {
    width: 100%; } }

.navbar-brand {
  color: #fff !important;
  font-size: large;
  opacity: 0; }

@media (min-width: 768px) {
  .navbar-header {
    flex-basis: 250px; }
  .navbar-header ~ * {
    background-color: black; }
  .navbar-dark .navbar-nav > li > a.headerLinkTarget {
    border-left: 1px solid #222 !important;
    font-size: 12px;
    line-height: 20px;
    max-height: 40px;
    transition: color 1s, padding-right 1.25s, padding-left 1.25s, border 2s;
    padding: 11px 24px 11px 24px; }
    .navbar-dark .navbar-nav > li > a.headerLinkTarget.active {
      border-right-color: #ddd !important;
      font-weight: normal;
      padding-right: 40px !important;
      padding-left: 40px !important; }
  .navbar-brand {
    height: 0px;
    padding-top: 7px;
    font-size: large;
    line-height: 31px; }
  .navbar-nav {
    float: left;
    text-align: left;
    max-height: 40px; } }

#navBarDropdown {
  z-index: 1000;
  background-color: black;
  min-width: 160px;
  font-size: 14px;
  border-radius: 4px;
  list-style: none;
  text-align: right; }
  #navBarDropdown > li > a {
    padding: 3px 20px;
    text-decoration: none; }

@media (min-width: 768px) {
  #navBarDropdown {
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    box-shadow: none;
    text-align: left; }
    #navBarDropdown > li > a {
      line-height: 20px; } }

@media (max-width: 480px), (max-height: 500px) {
  .navbar-brand {
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
    animation-duration: 4s;
    opacity: 1; } }

.navbar-toggle {
  background-color: black; }
  .navbar-toggle:focus {
    outline-color: #ddd; }

#navBarDropdown {
  background-color: black;
  opacity: 0.97; }
  #navBarDropdown > li > a {
    color: #d7d7ff;
    font-size: smaller; }
    #navBarDropdown > li > a:hover {
      color: #fefefe;
      background-color: black; }

@media (max-width: 767px) {
  .navbar-dark {
    background-color: black; } }

@-moz-keyframes pokeDown {
  from {
    top: -200px; }
  to {
    top: 0; } }

@-webkit-keyframes pokeDown {
  from {
    top: -200px; }
  to {
    top: 0; } }

@keyframes pokeDown {
  from {
    top: -200px; }
  to {
    top: 0; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

