@import "variables";

.aboutMedia {
    top: 0;
    order: 1;
    background-color: black;
    & > * {
        margin-bottom: 5px;
        bottom: 0px;
    }
}

.aboutMedia, .aboutMediaChooser {
    transition: background-color 0.5s;
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 366px;
    display: inline-block;
}

.aboutMediaChooser {
    position: absolute;
    bottom: 15px;
    text-align: center;
    order: 2;

    & label > span {
        margin: 9px;
        display: inline-block;
        height: 12px;
        width: 12px;
        background-color: transparent;
        transition: background-color 0.5s;
        border: 1px solid white;
        box-shadow: 0 0 3px 0 black;
        border-radius: 3px;
    }

    & label > input:checked ~ span {
        background-color: white;
        box-shadow: 0 0 3px 1px black;
    }
}

#aboutSection {
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: $sm-max) {
    .aboutMedia {
        left: 0px;
    }
}

.aboutText {
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
    order: 3;
}

@media (max-width: $sm-max){
    .aboutText {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (min-width: $lg-min) {
    .aboutText {
        width: 296px;
    }
}

@media (min-width: $md-min) and (max-width: $md-max) {
    .aboutText {
        width: 268px;
    }
}

@media (min-width: $md-min) {
    .aboutText {
        margin-top: 200px;
        margin-bottom: 120px;
    }
}

@media (max-width: $sm-max) {
    .aboutMediaChooser {
        margin-top: -50px;
        z-index: 500;
        position: static;
        width: 100%;
    }
    .aboutMedia {
        position: relative;
        width: 100%;
    }
    .aboutMedia {
        height: 650px;
    }
    #aboutSection {
        position: static;
        padding: 0 !important;
    }
}

.aboutMedia > * {
    padding: 210px 60px 0 0;
    height: 100%;
    width: 100%;

    & > small {
        color: white;
        float: right;
    }

    & > small:after {
        content: ' >';
    }
}

body {
    padding-bottom: 20px;
}

.bodyScroll{
    margin-top: -50px;
}

@include titleBoxGrowThreshold {
    .bodyScroll {
        margin-top: 0;
    }
}

.bodyAndFooter .customContainer {
    padding-left: 60px;
    padding-right: 60px;
}

@media (min-width: $lg-min){
    .bodyAndFooter .customContainer, .articleMediaContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

#feauresSection, #contactSection {
    height: 200px;
    width: 100%;
    left: 0px;
    box-shadow: 0 -1px 5px 1px #f7f7f7;
    background-color: white;
}

#linkSection {
    background-color: black;
    height: 200px;
    box-shadow: 0 0px 5px 2px #070707;
}

@media (min-width: $md-min) {
    #feauresSection, #contactSection {
        background-color: #010101;
        box-shadow: 0 0px 5px 2px #070707;
    }
    #linkSection {
        background-color: white;
        height: 200px;
        box-shadow: 0 0px 5px 2px #f7f7f7;
    }
}

@media (max-width: $sm-max){
    .bodyScroll {
        background-color: black;
    }
    .aboutText {
        filter: invert(100%);
    }
}

