.aboutMedia {
  top: 0;
  order: 1;
  background-color: black; }
  .aboutMedia > * {
    margin-bottom: 5px;
    bottom: 0px; }

.aboutMedia, .aboutMediaChooser {
  transition: background-color 0.5s;
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 366px;
  display: inline-block; }

.aboutMediaChooser {
  position: absolute;
  bottom: 15px;
  text-align: center;
  order: 2; }
  .aboutMediaChooser label > span {
    margin: 9px;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: transparent;
    transition: background-color 0.5s;
    border: 1px solid white;
    box-shadow: 0 0 3px 0 black;
    border-radius: 3px; }
  .aboutMediaChooser label > input:checked ~ span {
    background-color: white;
    box-shadow: 0 0 3px 1px black; }

#aboutSection {
  position: relative;
  display: flex;
  flex-direction: column; }

@media (max-width: 768px) {
  .aboutMedia {
    left: 0px; } }

.aboutText {
  margin-top: 60px;
  margin-bottom: 60px;
  display: inline-block;
  order: 3; }

@media (max-width: 768px) {
  .aboutText {
    margin-left: 60px;
    margin-right: 60px; } }

@media (min-width: 992px) {
  .aboutText {
    width: 296px; } }

@media (min-width: 769px) and (max-width: 991px) {
  .aboutText {
    width: 268px; } }

@media (min-width: 769px) {
  .aboutText {
    margin-top: 200px;
    margin-bottom: 120px; } }

@media (max-width: 768px) {
  .aboutMediaChooser {
    margin-top: -50px;
    z-index: 500;
    position: static;
    width: 100%; }
  .aboutMedia {
    position: relative;
    width: 100%; }
  .aboutMedia {
    height: 650px; }
  #aboutSection {
    position: static;
    padding: 0 !important; } }

.aboutMedia > * {
  padding: 210px 60px 0 0;
  height: 100%;
  width: 100%; }
  .aboutMedia > * > small {
    color: white;
    float: right; }
  .aboutMedia > * > small:after {
    content: ' >'; }

body {
  padding-bottom: 20px; }

.bodyScroll {
  margin-top: -50px; }

@media (min-width: 768px) and (min-height: 701px) {
  .bodyScroll {
    margin-top: 0; } }

.bodyAndFooter .customContainer {
  padding-left: 60px;
  padding-right: 60px; }

@media (min-width: 992px) {
  .bodyAndFooter .customContainer, .articleMediaContainer {
    padding-left: 30px;
    padding-right: 30px; } }

#feauresSection, #contactSection {
  height: 200px;
  width: 100%;
  left: 0px;
  box-shadow: 0 -1px 5px 1px #f7f7f7;
  background-color: white; }

#linkSection {
  background-color: black;
  height: 200px;
  box-shadow: 0 0px 5px 2px #070707; }

@media (min-width: 769px) {
  #feauresSection, #contactSection {
    background-color: #010101;
    box-shadow: 0 0px 5px 2px #070707; }
  #linkSection {
    background-color: white;
    height: 200px;
    box-shadow: 0 0px 5px 2px #f7f7f7; } }

@media (max-width: 768px) {
  .bodyScroll {
    background-color: black; }
  .aboutText {
    filter: invert(100%); } }

