body {
  padding-bottom: 20px; }

.bodyScroll {
  margin-top: -50px; }

@media (min-width: 768px) and (min-height: 701px) {
  .bodyScroll {
    margin-top: 0; } }

.bodyAndFooter .customContainer {
  padding-left: 60px;
  padding-right: 60px; }

@media (min-width: 992px) {
  .bodyAndFooter .customContainer, .articleMediaContainer {
    padding-left: 30px;
    padding-right: 30px; } }

.mediaDesc:after {
  content: ' >'; }

.articleMedia {
  position: absolute;
  right: 0;
  left: 296px;
  background-color: grey;
  background: url(/AodlTheme/img/adaptneticLandingLarge.png) bottom no-repeat;
  background-size: cover; }

.articleText {
  margin-top: 140px;
  position: absolute;
  left: 0px; }

.articleTextContainer {
  position: absolute; }

.mediaDesc {
  position: relative;
  top: 210px;
  margin-right: 40px;
  float: right;
  color: white; }

@media (min-width: 992px) {
  .articleMediaContainer {
    max-width: 80%;
    margin: auto; } }

@media (min-width: 992px) {
  .articleMedia {
    left: 366px;
    height: 750px; }
  .articleMediaContainer {
    position: relative; }
  .articleText {
    width: 296px; } }

@media (min-width: 769px) and (max-width: 991px) {
  .articleMedia {
    left: 368px;
    height: 750px; }
  .articleText {
    width: 268px; } }

@media (min-width: 1341px) {
  .mediaDesc {
    top: 590px; } }

#feauresSection {
  float: left;
  height: 200px;
  width: 100%;
  left: 0px;
  box-shadow: 0 -1px 5px 1px #070707; }

@media (min-width: 769px) {
  #feauresSection {
    position: absolute;
    margin-top: 750px;
    background-color: black; } }

@media (max-width: 768px) {
  .bodyScroll {
    background-color: black; }
  .articleMedia {
    left: 0px;
    height: 600px; }
  .articleTextContainer {
    position: static;
    padding-left: 0;
    padding-right: 0; }
  .articleText {
    right: 0px;
    left: 0px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 600px;
    float: left;
    background-color: black; }
  .mediaDesc {
    top: 480px; } }

@media (max-width: 568px) {
  .mediaDesc {
    top: 140px; } }

