
<section id="aboutSection" class="customContainer">    
    <div class="aboutMedia">
        <small>Some information about it</small>
        <form>
            <label>
                <input data-media-url="/AodlTheme/img/adaptneticLandingLarge.png" type="radio" name="MediaSwitch" class="d-none" checked/>
                <span></span>
            </label>
            <label>
                <input data-media-url="/AodlTheme/img/diamondCubicTrussLanding.jpg" type="radio" name="MediaSwitch" class="d-none" />
                <span></span>
            </label>
            <label>
                <input data-media-url="/AodlTheme/img/adaptneticLandingLarge.png" type="radio" name="MediaSwitch" class="d-none" />
                <span></span>
            </label>
        </form>
    </div>
    <section class="aboutText">
        @if (Model.Header != null)
        {
            <header>
                @await DisplayAsync(Model.Header)
            </header>
        }
        @await DisplayAsync(Model.Content)
    </section>
</section>
<section id="feauresSection" style="height: 700px;">
    <div class="customContainer" style="padding-top: 60px; padding-bottom: 60px;">
        <header style="color: white;">
            @await DisplayAsync(Model.Header)
        </header>
    </div>
</section>
<section id="linkSection" style="height: 300px;"></section>
<section id="contactSection" style="height: 700px;"></section>