@inject OrchardCore.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<!DOCTYPE html>
<html style="background-color: white;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(site.SiteName, "before")</title>
    <link type="image/x-icon" rel="shortcut icon" href="/TheTheme/favicon.ico" />
    <script asp-name="bootstrap" use-cdn="true" version="4" at="Foot"></script> 
    <style asp-name="bootstrap" use-cdn="true" version="4"></style>
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
</head>
<body>
    @await RenderSectionAsync("Header", required: false)
    <div class="container">
        <div class="jumbotron">
            @await RenderBodyAsync()
        </div>
    </div>  
    <resources type="FootScript" />
</body>
</html>
