@inject OrchardCore.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<!DOCTYPE html>
<html style="background-color: white;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(site.SiteName, "before")</title>
    <link type="image/x-icon" rel="shortcut icon" href="/TheTheme/favicon.ico" />
    <script asp-name="bootstrap" use-cdn="true" version="4" at="Foot"></script> 
    <script src="/AodlTheme/js/Header.js" at="Foot"></script>
    <style asp-name="bootstrap" use-cdn="true" version="4"></style>
    <style asp-src="/AodlTheme/css/menu.min.css"></style>
    <style asp-src="/AodlTheme/css/Page.min.css"></style>
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
</head>
<body>
    <div class="customContainer">
        <a href="#" class="title-box headerLink headerLinkTarget" data-fragment="aboutSection" id="About-link" data-headerlinkdtargetid="About-link" data-headerlink="/">
            <h1>Alex O.D.<br />Lorimer</h1>
            <p>BA(Hons) / ResM / MSc</p>
        </a>
    </div>
    <nav role="navigation" class="navbar navbar-dark navbar-expand-md">
        <div class="customContainer customNavBar">
            <div class="navbar-header">
                <a href="#" class="navbar-brand headerLink headerLinkTarget" data-fragment="aboutSection" id="About-link" data-headerlinkdtargetid="About-link" data-headerlink="/">@site.SiteName</a>
                <button class="navbar-toggler float-right" data-toggle="collapse" data-target="#collapsibleNavContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="collapsibleNavContent">
                <menu alias="alias:main-menu" @*cache-id="main-menu" cache-duration="00:05:00" cache-tag="alias:main-menu"*@ />
            </div>   
        </div>
    </nav>
    @await RenderSectionAsync("Header", required: false)
    <div class="bodyScroll body-content">
        <!--ajax partial content-->
    </div>
    <div class="pageLoaderProgress">
        <div><!--table display container-->
            <div class="container">
                <div class="errorMsg text-center" style="position: relative;">
                    <h5 style="position: absolute; bottom: 0;">
                        Hmmm, their seems to be a problem loading the page <b>:(</b>
                    </h5>
                </div>
                <div class="progress">
                    <div class="progress-bar pre-js-progress progress-bar-striped" role="progressbar"></div>
                    <div class="progress-bar js-progress progress-bar-striped" role="progressbar"></div>
                </div>
                <div class="suggestionMsg">
                    <b>Suggestions:</b>
                    <ul>
                        <li>Please check your network connectivity for issues</li>
                        <li>Please ensure JavaScript is enabled in your browser</li>
                        <li>If all else fails, come back later <b>;)</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <resources type="FootScript" />
</body>
</html>
