<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=500, initial-scale=2, shrink-to-fit=no">
    <title>{% page_title Site.SiteName, position: "before", separator: " - " %}</title>
    <link type="image/x-icon" rel="shortcut icon" href="TheBlogTheme/favicon.ico" />
    {% script name:"jQuery", use_cdn:"true", at:"Foot" %}
    {% script name:"Bootstrap", use_cdn:"true", version:"4", at:"Foot" %}
    {% script source:"/TheBlogTheme/js/clean-blog.min.js", debug_src:"/TheBlogTheme/js/clean-blog.js", at:"Foot" %}
    {% script source:"/OrchardCore.Menu/Scripts/activate-links.min.js", debug_src:"/OrchardCore.Menu/Scripts/activate-links.js", at:"Foot" %}
    {% style name:"font-awesome", use_cdn:"true" %}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/OrchardCore.Resources/Styles/bootstrap.min.css">
    <link rel="stylesheet" href="/AodlTheme/css/menu.min.css">
    <link rel="stylesheet" href="/AodlTheme/css/Page.min.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
</head>
<body>
    <div class="customContainer">
        <a href="#" class="title-box headerLink headerLinkTarget" id="About-link" data-headerlinkid="About-link">
            <h1>Alex O.D.<br />Lorimer</h1>
            <p>BA(Hons) / ResM / MSc</p>
        </a>
    </div>
    <nav role="navigation" class="navbar navbar-dark navbar-expand-md">
        <div class="customContainer customNavBar">
            <div class="navbar-header">
                <a href="{{ '~/' | href }}" class="navbar-brand headerLink headerLinkTarget" id="About-link" data-headerlinkid="About-link">{{ Site.SiteName }}</a>
                <button class="navbar-toggler pull-right" data-toggle="collapse" data-target="#collapsibleNavContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="collapsibleNavContent">
                {% shape "menu", alias: "alias:main-menu" %}
            </div>   
        </div>
    </nav>
    {% render_section "Header", required: false %}
    <div class="bodyScroll">
        <div class="bodyAndFooter">
            <div class="container">
                {% render_body %}
            </div>
            <footer class="container">
                <!--<hr />
                <p>&copy; @DateTime.Now.Year - Alexander O.D. Lorimer</p>-->
                {% render_section "Footer", required: false %}
            </footer>
        </div>
    </div>
    {% resources type: "FootScript" %}
    <script src="/AodlTheme/js/Header.js"></script>
    <script type="text/javascript">(function($) { $('#mainNav').activateLinks(); })(jQuery);</script>
</body>
</html>