@{
    // By using a tag builder, sub items can alter the
    // menu element. Note how Display is called on the menu
    // items before the tag is actually rendered.

    TagBuilder tag = Tag(Model, "ul");
    tag.AddCssClass("nav navbar-nav menuLinks");

    foreach (var item in Model.Items)
    {
        tag.InnerHtml.AppendHtml(await DisplayAsync(item));
    }
}

@tag

<ul class="nav navbar-nav">
    <li class="socialIconContainer" style="list-style: none;"><!--IE list-style bug, needs inlining-->
        <a class="socialIcon" href="https://twitter.com/AODLorimer" target="_blank">
            <img src="/AodlTheme/img/twitter.svg">
        </a>
        <a class="socialIcon" href="https://www.facebook.com/aodlorimer" target="_blank">
            <img src="/AodlTheme/img/facebook.svg">
        </a>
        <a class="socialIcon" href="https://uk.linkedin.com/in/aodlorimer" target="_blank">
            <img src="/AodlTheme/img/linkedin.svg">
        </a>
        <a class="socialIcon" href="https://github.com/aodl" target="_blank">
            <img src="/AodlTheme/img/github.svg">
        </a>
    </li>
</ul>
