{% assign dropdownClassOrEmpty = '' %}
{% if Model.HasItems %}
    {% assign dropdownClassOrEmpty = 'dropdown' %}
{% endif %}

<li class="nav-item {{ dropdownClassOrEmpty }}" style="list-style: none;"><!--IE list-style bug, needs inlining-->
    {% shape_clear_alternates Model %}
    {% shape_type Model "MenuItemLink" %}
    {{ Model | shape_render }}
    {% if Model.HasItems %}
    <ul class="dropdown-menu" id="navBarDropdown">
        {% for item in Model.Items %}
        {{ item | shape_render }}
        {% endfor %}
    </ul>
    {% endif %}
</li>

    <!--<li><a href="#" class="headerLink headerLinkTarget" id="Blog-link" data-headerlinkid="Blog-link">Blog</a></li>
    <li>
        <a href="#" class="headerLinkTarget" id="Drop-link" data-toggle="collapse" data-target="#navBarDropdown" role="button">Projects</a>
        <ul class="collapse" id="navBarDropdown">
            <li><a href="#" class="headerLink" data-headerlinkid="Drop-link">Action</a></li>
            <li><a href="#" class="headerLink" data-headerlinkid="Drop-link">Another action</a></li>
            <li><a href="#" class="headerLink" data-headerlinkid="Drop-link">Something else here</a></li>
        </ul>
    </li>
    <li><a href="#" class="headerLink headerLinkTarget" id="Publications-link" data-headerlinkid="Publications-link">Publications</a></li>
    <li><a href="#" class="headerLink headerLinkTarget" id="Contact-link" data-headerlinkid="Contact-link">Contact</a></li>-->
