@using System.Linq
@using OrchardCore.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
    var linkMenuItemPart = contentItem.Content["IconLinkMenuItem"];
}

<a class="socialIcon" href="@(linkMenuItemPart.Url.Text)" target="_blank">
    <img asset-src="@(((IEnumerable<dynamic>)linkMenuItemPart.Icon.Paths).SingleOrDefault())" />
</a>